.site-content {
	padding-top: 120px;
	padding-bottom: 100px;
}

.no-trheader.no-banner .site-content {
	padding-top: 60px;
	padding-bottom: 50px;
}

.has-trheader .site-content {
	padding-top: 140px;
	padding-bottom: 100px;
}

.has-banner .site-content {
	padding-top: 0;
	padding-bottom: 0;

	.newsfit-breadcrumb-wrapper + div {
		padding-top: 40px;
		padding-bottom: 80px;
	}
}

.post-edit-link {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 13px;
	color: $white_color !important;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
	line-height: 1;
	max-width: 44px;
	max-height: 24px;
	opacity: 0;
	visibility: hidden;
	display: flex !important;
	justify-content: center;
	align-items: center;

	&:hover {
		background: $black_color;
	}

	.post-thumbnail:hover & {
		opacity: 1;
		visibility: visible;
	}
}
