.single-content .quixa-post-card {
	.entry-content {
		margin-bottom: 40px;

		> p + :is(h1, h2, h3) {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	.separate-meta {
		margin-bottom: 15px;
	}
}

//Common Style for others
body:not(.quixa-single-1) {
	.entry-content {
		ul {
			list-style: circle inside none;
		}
	}

	.wp-block-quote {
		padding: 0;
		border: none;
		font-weight: 600;

		p {
			margin-bottom: 5px;
		}
	}
}

.post-thumbnail-wrap .wp-caption-text {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 14px;
	display: flex;
	gap: 5px;
	align-items: center;

	span {
		display: block;
		line-height: 1;
	}
}
.wp-block-image {
	img {
		border-radius: 12px;
	}
}
:where(.wp-block-columns.is-layout-flex) {
	gap: 24px;
}
:where(.wp-block-columns) {
	margin-top: 30px;
	margin-bottom: 15px;
}
@import "parts/_single-style";
@import "parts/_single-style-2";
@import "parts/_single-style-3";
@import "parts/_single-style-4";
@import "parts/_single-style-5";
@import "parts/_thumbnail-pagination";
