// team archive

.rt-team-default {
	.team-item {
		margin-bottom: 24px;
		.team-title {
			position: relative;
			font-size: 22px;
			margin-bottom: 0;
			line-height: 1.4;
			a {
				color: $black_color;
				&:hover {
					color: $primary_color;
				}
			}
		}
		.team-designation {
			color: $meta_color;

		}
		&:hover {
			.team-social {
				li {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					&:nth-child(1) {
						transition-delay: 0.1s;
					}
					&:nth-child(2) {
						transition-delay: 0.2s;
					}
					&:nth-child(3) {
						transition-delay: 0.3s;
					}
					&:nth-child(4) {
						transition-delay: 0.4s;
					}
					&:nth-child(5) {
						transition-delay: 0.5s;
					}
					&:nth-child(6) {
						transition-delay: 0.6s;
					}
				}
			}
		}
	}
	.team-thumbs {
		position: relative;
	}
	.team-social {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		display: flex;
		align-items: center;
		gap: 6px;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		left: 50%;
		li {
			position: relative;
			opacity: 0;
			visibility: hidden;
			transform: translateX(10px);
			transition: all 0.2s ease-in-out;
			line-height: 1;
			.social-link {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 36px;
				width: 36px;
				border-radius: 36px;
				transition: all 0.31s ease-in-out;
				background-color: $white_color;
				i {
					display: block;
				}
				&:hover {
					i {
						animation: toBottomFromTop 0.7s forwards;
					}
				}
			}
		}
	}
}
.rt-team-multi-layout-1 {
	.team-item {
		border: 1px solid $border_color;
		border-radius: 20px;
		background-color: $white_color;
		padding: 40px 45px 35px;
		text-align: center;
		.team-thumbs {
			margin-bottom: 24px;
			background-color: $gray10;
			border-radius: 1000px;
			@include transition_default;
		}
		&:hover {
			.team-thumbs {
				background-color: rgba($primary_rgb,1);
			}
		}
		p {
			margin-top: 8px;
		}
	}
}

.rt-team-multi-layout-2 {
	.team-item {
		text-align: center;
		.team-thumbs {
			position: relative;
			@include transition_default;
		}
		p {
			margin-top: 8px;
		}
	}
	.item-parent {
		.item {
			.team-content {
				border-radius: 100px;
				border: 2px solid $title_color;
				background-color: $white_color;
				box-shadow: 4px 7px 0px 0px rgba(0, 0, 0, 0.2);
				margin-top: -35px;
				padding: 18px;
				width: 100%;
				@include transition_default;
			}
			&:nth-child(odd) {
				.team-content {
					transform: rotate(2.38deg);
				}
			}
			&:nth-child(even) {
				.team-content {
					transform: rotate(-2.14deg);
				}
			}
			.team-item {
				&:hover {
					.team-content {
						transform: rotate(0);
					}
				}
			}
			.team-thumbs {
				&:after {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: -1;
					content: url("../images/element/team-bg-1.svg");
				}
			}
			&:nth-child(1) {
				.team-thumbs {
					&:after {
						content: url("../images/element/team-bg-1.svg");
					}
				}
			}
			&:nth-child(2) {
				.team-thumbs {
					&:after {
						content: url("../images/element/team-bg-2.svg");
					}
				}
			}
			&:nth-child(3) {
				.team-thumbs {
					&:after {
						content: url("../images/element/team-bg-3.svg");
					}
				}
			}
			&:nth-child(4) {
				.team-thumbs {
					&:after {
						content: url("../images/element/team-bg-4.svg");
					}
				}
			}

			&:nth-child(5) {
				.team-thumbs {
					&:after {
						content: url("../images/element/team-bg-4.svg");
					}
				}
			}
			&:nth-child(6) {
				.team-thumbs {
					&:after {
						content: url("../images/element/team-bg-3.svg");
					}
				}
			}
			&:nth-child(7) {
				.team-thumbs {
					&:after {
						content: url("../images/element/team-bg-2.svg");
					}
				}
			}
			&:nth-child(8) {
				.team-thumbs {
					&:after {
						content: url("../images/element/team-bg-1.svg");
					}
				}
			}

		}
	}
}

.rt-team-multi-layout-3 {
	.team-item {
		text-align: center;
		.team-thumbs {
			overflow: hidden;
			margin-bottom: 24px;
			background-color: $gray10;
			border-radius: 20px;
			@include transition_default;
			img {
				@include transition_default;
			}
		}
		&:hover {
			.team-thumbs {
				img {
					transform: scale(1.05);
					filter: grayscale(1);
				}
			}
		}
		p {
			margin-top: 8px;
		}
	}
}

.rt-team-multi-layout-4 {
	.team-item {
		background-color: $white_color;
		border-radius: 20px;
		padding: 27px 35px 0;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
		.team-thumbs {
			overflow: hidden;
			flex: 0 0 40%;
			z-index: 1;
			@include transition_default;
			img {
				@include transition_default;
			}
		}
		.team-thumb-shape {
			position: absolute;
			left: 0;
			top: 5px;
			z-index: -1;
		}
		.team-title {
			z-index: 1;
			&:after {
				content: "";
				height: 6px;
				width: 51px;
				background-color: $primary_color;
				position: absolute;
				top: 18px;
				left: 1px;
				z-index: -1;
				@include transition_default;
			}
		}
		.team-social {
			position: unset;
			transform: unset;
			gap: 13px;
			margin-top: 12px;
			li {
				opacity: 1;
				visibility: visible;
				transform: unset;
				.social-link {
					width: auto;
					height: auto;
					color: $title_color;
					&:hover {
						color: $primary_color;
					}
				}
			}
		}
		&:hover {
			.team-thumbs {
				img {
					transform: scale(1.05);
				}
			}
			.team-title {
				&:after {
					width: 102px;
				}
			}
		}
		p {
			margin-top: 8px;
		}
	}
}

// team single
.team-single-item {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.team-single-content-wrap {
		border-radius: 12px;
		padding: 34px 40px 40px;
		border: 1px solid $border_color;
		box-shadow: 0 0 30px rgb(0 0 0 / 5%);
		@media (max-width: 991px) {
			margin-bottom: 30px;
		}
	}

	.team-thumb {
		border-radius: 12px;
		padding: 24px 30px 30px;
		border: 1px solid $border_color;
		box-shadow: 0 0 30px rgb(0 0 0 / 5%);
		text-align: center;

		img {
			background-color: $gray10;
			border-radius: 1000px;
		}
	}

	.entry-title {
		font-size: 36px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	.designation {
		display: block;
		color: $meta_color;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	.team-single-content-wrap {
		h3 {
			position: relative;
			font-size: 20px;
			margin-bottom: 15px;
			line-height: 1.4;
		}

		.team-info {
			display: inline-block;
			margin-top: 12px;

			ul {
				li {
					display: block;
					margin-right: 0;
					margin-bottom: 7px;
					width: 45%;
					float: left;
					color: $body_color;

					a {
						color: $body_color;

						&:hover {
							color: $primary_color;
						}
					}

					@media (max-width: 575px) {
						float: unset;
						width: 100%;
					}
				}

				.team-label {
					color: $title_color;
					font-weight: 600;
				}
			}
		}
	}

	.team-social-social {
		display: flex;
		gap: 10px;
		margin-top: 12px;

		li {
			a {
				font-size: 15px;
				text-align: center;
				border: 1px solid $border_color;
				color: $title_color;
				border-radius: 50%;
				width: 36px;
				height: 36px;
				display: flex;
				align-items: center;
				justify-content: center;

				&:hover {
					background-color: $primary_color;
					border: 1px solid transparent;
					color: $white_color;

					i {
						animation: toBottomFromTop 0.7s forwards;
					}
				}
			}
		}
	}

	.rt-skill-wrap {
		margin-top: 40px;
		overflow: hidden;

		.rt-skill-each {
			margin-top: 15px;
		}

		.rt-name {
			color: $title_color;
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.progress {
			background-color: $gray10;
			border-radius: 6px;
			box-shadow: none;
			height: 8px;
			overflow: visible;
		}

		.progress-bar {
			position: relative;
			background: $primary_color;
			border-radius: 6px;
			height: 8px;
			overflow: inherit;
			animation: slideInLeft 0.9s forwards;

			span {
				font-size: 16px;
				font-weight: 500;
				color: $title_color;
				position: absolute;
				right: 0;
				top: -28px;
				padding-bottom: 10px;
				line-height: 1;
			}
		}
	}
}


