

/*Info box
=================================*/

.rt-info-box .service-box {
	z-index: 1;
	position: relative;
}

.rt-info-box .service-box::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-out;
}

.rt-info-box .service-box:hover::after {
	opacity: 1;
	visibility: visible;
}

.rt-info-box .service-box .read-more-btn {
	margin-top: 30px;
}

.rt-info-box,
.rt-info-box .content-holder .info-title,
.rt-info-box .icon-holder i,
.rt-info-box .content-holder p {
	transition: 0.3s;
}

@media (max-width: 767px) {
	.rt-info-box .content-holder p br {
		display: none;
	}
}

.rt-info-box {
	padding: inherit;
}

.rt-info-box .icon-holder i {
	display: inline-block;
}

.rt-info-box .icon-holder .img-wrap {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: 0.4s;
	text-align: center;
}

.rt-info-box .icon-holder .img-wrap .hover-bg {
	transition: 0.4s ease-in-out;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	opacity: 0;
	visibility: hidden;
}

.rt-info-box:hover .icon-holder .img-wrap .hover-bg {
	opacity: 1;
	visibility: visible;
}

.rt-info-box:hover .icon-holder.bottomtotop,
.rt-info-box:hover .icon-holder.toptobottom {
	overflow: hidden;
}

.rt-info-box:hover .icon-holder.toptobottom i,
.rt-info-box:hover .icon-holder.toptobottom .img-wrap img {
	animation: toptobottom .4s linear forwards;
}

.rt-info-box:hover .icon-holder.bottomtotop i,
.rt-info-box:hover .icon-holder.bottomtotop .img-wrap img {
	animation: bottomtotop .4s linear forwards;
}

/* Zoom In Effect */
.rt-info-box .icon-holder.animation-both .img-wrap .hover-bg,
.rt-info-box .icon-holder.zoom-in .img-wrap .hover-bg {
	transform: scale(0);
}

.rt-info-box:hover .icon-holder.zoom-in .img-wrap .hover-bg {
	transform: scale(1);
}


/* Hue Rotate Effect */
.rt-info-box:hover .icon-holder.hue-animation .img-wrap .hover-bg {
	animation: hueRotate 3s linear infinite;
}

.rt-info-box:hover .icon-holder.animation-both .img-wrap .hover-bg {
	animation: hueRotate 3s linear infinite;
	transform: scale(1);
}

/* To Top Effect */
.rt-info-box .icon-holder.to-top .img-wrap .hover-bg {
	top: 0;
	height: 0;
}

.rt-info-box:hover .icon-holder.to-top .img-wrap .hover-bg {
	bottom: 0;
	height: 100%;
	top: inherit;
}

/* To Bottom Effect */
.rt-info-box .icon-holder.to-bottom .img-wrap .hover-bg {
	bottom: 0;
	height: 0;
	top: inherit;
}

.rt-info-box:hover .icon-holder.to-bottom .img-wrap .hover-bg {
	top: 0;
	height: 100%;
}

@keyframes hueRotate {
	0% {
		filter: hue-rotate(0)
	}
	100% {
		filter: hue-rotate(360deg)
	}
}

.rt-info-box .icon-holder img {
	transition: 0.4s;
	position: relative;
	z-index: 10;
}

.rt-info-box .icon-holder.image_invert img,
.rt-info-box:hover .icon-holder.image_invert_hover img {
	filter: brightness(0) invert(1);
}

.rt-info-box .service-box .read-more-btn.show-hover {
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease-in-out;
}

.rt-info-box .service-box:hover .read-more-btn.show-hover {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}


/* Style # 1 */

.rt-info-box-wrap-1.rt-info-box.service3-box-right {
	padding: inherit;
	min-height: inherit;
}

.rt-info-box-wrap-1:hover .service-box span i,
.rt-info-box-wrap-1 .service-box span i {
	background: none !important;
}

.rt-info-box-wrap-1.service3-box-left .service3-content-holder {
	margin-bottom: 30px;
	float: left;
	width: 75%;
	text-align: right;
	margin-right: 15px;
}

.rt-info-box-wrap-1.service3-box-left .service3-content-holder h3 {
	font-weight: 600;
}

.rt-info-box-wrap-1.service3-box-left .service3-content-holder h3 a {
	color: #111111;
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-1.service3-box-left .service3-content-holder h3 a:hover {
	color: var(--rt-primary-color);
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-1.service3-box-left .service3-content-holder .title-bar35:after {
	right: 0;
	left: inherit;
}

.rt-info-box-wrap-1.service3-box-left .service3-icon-holder {
	float: left;
}

.rt-info-box-wrap-1.service3-box-left .service3-icon-holder i {
	background: #ffffff;
	border-radius: 50%;
	color: var(--rt-primary-color);
	text-align: center;
	line-height: 70px;
	box-shadow: 0 0 20px -14px #111111;
	transition: all 0.5s ease-out;
	height: 73px;
	width: 75px;
	font-size: 57px;
}

.rt-info-box-wrap-1.service3-box-left .service3-icon-holder:hover i {
	box-shadow: 0 0 25px -5px var(--rt-primary-color);
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-1.service3-box-right .service3-content-holder {
	text-align: left;
	overflow: hidden;
}

.rt-info-box-wrap-1.service3-box-right .service3-content-holder h3 {
	font-size: 26px;
	font-weight: 500;
}

.rt-info-box-wrap-1.service3-box-right .service3-content-holder h3 a {
	color: #111111;
}

.rt-info-box-wrap-1.service3-box-right:hover .service3-content-holder h3 a {
	color: var(--rt-primary-color) !important;
}

.rt-info-box-wrap-1.service3-box-right .service3-content-holder p {
	margin-bottom: 0;
}

.rt-info-box-wrap-1.service3-box-right {
	overflow: hidden;
	padding: 120px 90px;
	min-height: 376px;
}

.rt-info-box-wrap-1.service3-box-right .service3-icon-holder {
	float: left;
	padding-right: 25px;
}

.rt-info-box-wrap-1.service3-box-right .service3-icon-holder a {
	display: inline-block;
}

.rt-info-box-wrap-1.service3-box-right .service3-icon-holder i {
	font-size: 65px;
	color: var(--rt-primary-color);
	text-align: center;
	transition: all 0.5s ease-out;
}

@media ( max-width: 1596px ) {
	.rt-info-box-wrap-1.service3-box-right {
		overflow: hidden;
		padding: 120px 90px;
		min-height: 404px;
	}
}

@media ( max-width: 1440px ) {
	.rt-info-box-wrap-1.service3-box-right {
		padding: 120px 60px;
		min-height: 424px;
	}

	.rt-info-box-wrap-1.service3-box-right .service3-content-holder h3 {
		font-size: 24px;
	}
}

@media ( max-width: 1244px ) {
	.rt-info-box-wrap-1.service3-box-right {
		overflow: hidden;
		padding: 120px 90px;
		min-height: 404px;
	}
}

@media ( max-width: 1199px ) {
	.rt-info-box-wrap-1.service3-box-right {
		padding: 90px 30px;
	}

	.rt-info-box-wrap-1.service3-box-right .service3-icon-holder {
		padding-right: 20px;
	}
}

.rt-info-box-wrap-1 .service-box {
	position: relative;
	margin-bottom: 30px;
}

.rt-info-box-wrap-1 .service-box .icon-holder {
	overflow: hidden;
	margin-bottom: 20px;
}

.rt-info-box-wrap-1 .service-box .icon-holder span {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	display: inline-block;
	border: 2px solid var(--rt-primary-color);
	background: var(--rt-primary-color);
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-1 .service-box .icon-holder span i {
	color: #ffffff;
	line-height: 75px;
	font-size: 24px;
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-1 .service-box h3 {
	font-weight: 600;
	margin-bottom: 15px;
}

.rt-info-box .service-box h3 {
	color: #212121;
}

.rt-info-box-wrap-1 .service-box h3 a {
	color: #212121;
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-1 .service-box > a {
	opacity: 1;
	transition: all 0.5s ease-out;
	border-radius: 30px;
	padding: 17px 36px;
	font-size: 15px;
}

.rt-info-box-wrap-1 .service-box:hover span {
	background: #ffffff;
	transition: all 0.3s ease-out;
}

.rt-info-box-wrap-1 .service-box:hover span i {
	color: var(--rt-primary-color) !important;
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-1 .service-box:hover h3 a {
	color: var(--rt-primary-color);
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-1 .btn-quote2 {
	color: #ffffff !important;
}


/*info box 3 */

.rt-info-box-wrap-3 .service-box {
	text-align: center;
	padding: 30px 15px;
	border-radius: 4px;
	transition: all 0.5s ease-out;
	margin: 15px auto;
	overflow: hidden;
}

@media ( max-width: 768px ) {
	.rt-info-box-wrap-3 .service-box {
		margin: 0 auto 30px;
	}
}

.rt-info-box-wrap-3 .service-box.bg-animation-2 .icon-holder {
	position: relative;
	padding: 24px 0;
}

.rt-info-box-wrap-3 .service-box.bg-animation-2 .icon-holder::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	//background-image: url('../img/icon-round-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out;
}

.rt-info-box-wrap-3 .service-box.bg-animation-2:hover .icon-holder::before {
	opacity: 1;
	visibility: visible;
	width: 136px;
	height: 136px;
	margin-top: -68px;
	margin-left: -68px;
	animation: rotataing .6s .3s linear forwards;
}

@keyframes rotataing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.rt-info-box-wrap-3 .service-box::after {
	background: #fff;
	background-image: -moz-linear-gradient(90deg, rgb(245, 247, 251) 0%, rgb(255, 255, 255) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(245, 247, 251) 0%, rgb(255, 255, 255) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(245, 247, 251) 0%, rgb(255, 255, 255) 100%);
	box-shadow: 0 -14px 24px 0 rgba(136, 156, 196, 0.08);
}

.rt-info-box-wrap-3 .service-box .icon-holder i {
	line-height: 78px;
	font-size: 76px;
}

.rt-info-box-wrap-3 .service-box h3 {
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 22px;
}

.rt-info-box-wrap-3 .service-box h3 a {
	color: #212121;
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-3 .service-box > a {
	opacity: 1;
	transition: all 0.5s ease-out;
	padding: 8px 22px;
}

.rt-info-box-wrap-3 .service-box:hover h3 a {
	color: var(--rt-primary-color);
	transition: all 0.5s ease-out;
}

.rt-info-box-wrap-3 .btn-square-transparent {
	border-radius: 30px;
	font-size: 14px;
	font-weight: 500;
}
