/* Footer Copyright
***************************/

.footer-copyright-wrapper {
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $meta_color;
	font-size: 14px;
	background: rgba($title_rgb, 0.9);

	.copyright-text {
		text-align: center;
	}

	a {
		color: $meta_color;
		&:hover {
			color: $white_color;
		}
	}
}
