/* Footer Widget wrapper
***************************/
.footer-widgets-wrapper {
	padding-top: 100px;
	padding-bottom: 50px;
	font-size: 15px;

	//Default widgets overwrite
	.footer-widgets {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;

		.widget-title {
			margin-bottom: 30px;
			font-weight: bold;
		}

		> .widget {
			flex-grow: 25;
		}

		ul {
			padding-left: 0;

			ul {
				padding-left: 20px;
			}
		}
	}
}
