
//Footer Style 4
.quixa-footer-4 {
	.site-footer {
		background-color: $footer_bg_color;
		overflow: hidden;
	}
	.quixa-navigation ul > li:hover > ul {
		z-index: 9999;
	}
	.footer-widgets {
		.widget-title, .widgettitle {
			color: $white_color;
		}
	}
	.footer-sidebar {
		color: $meta_color;
		a {
			color: $meta_color;
			&:hover {
				color: $white_color;
			}
		}
		.phone-no {
			a {
				color: $white_color;
			}
		}
	}

	.footer-blur-shape {
		ul {
			li {
				width: 431px;
				height: 431px;
				border-radius: 431px;
				background: #231435;
				filter: blur(100px);
				position: absolute;
				&:nth-child(1){
					bottom: -36%;
					left: 0;
				}
				&:nth-child(2){
					top: -40%;
					left: 17%;
					background-color: #141C35;
				}
				&:nth-child(3){
					top: -35%;
					right: -10%;
					background-color: #141C35;
				}
				&:nth-child(4){
					bottom: -35%;
					right: 5%;
					background-color: #130B31;
				}
			}
		}
	}
	.rt-top-wrap {
		position: relative;
		border-bottom: 1px solid $footer_border_color;
		margin-bottom: 70px;
		padding-bottom: 70px;
	}
	.rt-footer-cta {
		.rt-cta-title {
			background: linear-gradient(90deg, #FFF -2.1%, #8B7AF5 53.56%, #FFF 83.46%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-size: 40px;
			font-weight: 700;
			line-height: 48px;
			animation: gradient 5s ease infinite;
			background-size: 300% 100%;
		}
	}
	.rt-footer-shape {
		position: absolute;
		left: 50px;
		top: 50px;
	}
	.rt-footer-star-shape {
		position: absolute;
		bottom: -33px;
		right: 0;
	}
	.rt-footer-top, .rt-footer-cta {
		@media (max-width: 991px) {
			flex-direction: column;
			gap: 15px;
			text-align: center;
		}
	}
	.copyright-text-wrap {
		@media (max-width: 767px) {
			flex-direction: column;
			gap: 8px;
			text-align: center;
		}
	}
}
