/* Footer Copyright
***************************/

.footer-copyright-wrapper {
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $gray40;
	font-size: 14px;
	background: rgba($title_rgb, 0.9);

	.copyright-text {
		text-align: center;
	}

	a {
		color: $gray40;
	}
}
