
//Footer Style 5
.quixa-footer-5 {
	.site-footer {
		background-color: $footer_bg_color;
		overflow: hidden;
	}
	.quixa-navigation ul > li:hover > ul {
		z-index: 9999;
	}
	.footer-widgets {
		.widget-title, .widgettitle {
			color: $white_color;
		}
	}
	.footer-sidebar {
		color: $meta_color;
		a {
			color: $meta_color;
			&:hover {
				color: $white_color;
			}
		}
		.phone-no {
			a {
				color: $white_color;
			}
		}
	}

	.footer-copyright-wrapper {
		.copyright-text-wrap {
			position: relative;
			border-top: 1px solid $footer_border_color;
			padding: 40px 0 20px;
		}
		.rt-footer-star-shape {
			li {
				position: absolute;
				&:nth-child(1) {
					top: -23px;
					right: 0;
				}
				&:nth-child(2) {
					top: -23px;
					left: 0;
				}
			}
		}
	}
	.rt-footer-shape {
		position: absolute;
		left: 50px;
		top: 50px;
	}
	.footer-blur-shape {
		ul {
			li {
				width: 431px;
				height: 431px;
				border-radius: 431px;
				background: #231435;
				filter: blur(100px);
				position: absolute;
				&:nth-child(1){
					bottom: -36%;
					left: 0;
					background-color: rgba(27, 34, 54, 0.5);
				}
				&:nth-child(2){
					top: -40%;
					left: 17%;
					background-color: rgba(54, 38, 22, 0.5);
				}
				&:nth-child(3){
					top: -35%;
					right: -10%;
					background-color: rgba(30, 42, 75, 0.5);
				}
				&:nth-child(4){
					bottom: -35%;
					right: 5%;
					background-color: rgba(52, 61, 87, 0.5);
				}
			}
		}
	}
}
