/* Topbar Navigation
***************************/

.quixa-topbar {
	font-size: 14px;
	border-bottom: 1px solid rgba($black_color, 0.1);
	background: rgba($title_rgb, 0.9);
	color: $meta_light;
	padding: 7px 0;

	& {
		@media(max-width: 1024px) {
			display: none;
		}
	}

	@media(max-width: 650px) {
		#topbar-menu > div{
			display: none;
		}
		.topbar-right {
			padding: 5px 0;
		}
	}

	.topbar-left {
		li {
			display: flex;
			align-items: center;
			column-gap: 8px;
		}
		svg {
			fill: $meta_light;
			width: 15px;
			height: 15px;
		}
		a {
			color: $meta_light;
			&:hover {
				color: $primary_color;
			}
		}
	}

	.social-icon {
		display: inline-flex;
		align-items: center;
		column-gap: 15px;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: inherit;

			&:hover svg {
				fill: $primary_color;
			}
		}

		[class*=rticon] svg {
			width: 15px;
			height: 15px;
			fill: $meta_light;
		}
	}
}

.has-trheader .site-header .quixa-topbar * {
	color: $meta_light !important;
}
