.newsfit-post-meta {
	color: $meta_color;
	margin-bottom: 15px;
	font-size: $base_fs - 1;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		row-gap: 2px;
		column-gap: 10px;
	}

	ul li {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		line-height: 1.5;

		.prefix {
			margin-right: 4px;
		}

		&.edit-link {
			opacity: 0;
			visibility: hidden;
		}
	}

	article:hover & ul li.edit-link {
		opacity: 1;
		visibility: visible;
	}

	ul li a {
		color: $meta_color;
		padding-bottom: 0;

		&:hover {
			color: $title_color
		}
	}

	//Default meta style
	.meta-style-default & {
		font-size: $base_fs;

		ul {
			column-gap: 10px;
			display: block;
		}
		ul li {
			display: inline;
		}

		ul li:not(:last-child) {
			margin-right: 16px;
		}

		ul li::before {
			content: "";
			width: 5px;
			height: 5px;
			background-color: $meta_color;
			border-radius: 50%;
			display: inline-block;
			margin-right: 5px;
			transform: translateY(-2px);
		}
	}

	.meta-style-border & {
		ul {
			gap: 5px;
		}

		ul li:not(.category, .tag) {
			border: 1px solid $primary_color;
			padding: 0 10px;
			@extend .primaryColor;

			a {
				@extend .primaryColor;

				&:hover {
					@extend .secondaryColor;
				}
			}
		}

		ul li:is(.category, .tag) {
			padding: 0;

			.tag-links,
			.category-links {
				display: flex;
				flex-wrap: wrap;
				gap: 5px;
			}

			.sp {
				display: none;
			}

			a {
				display: inline-block;
				height: 100%;
				border: 1px solid $primary_color;
				padding: 4px 10px;
				line-height: 1.2;
				@extend .primaryColor;

				&:hover {
					@extend .primaryBG;
					@extend .whiteColor;
				}
			}
		}
	}

	.meta-style-pipe & {
		li:not(:last-child)::after {
			content: " | ";
			transform: scaleY(.9);
			margin: 0 1px 0 10px;
		}
	}

	//Dashed meta style
	.meta-style-dash & li::before {
		@extend .metaStyleDash;
	}

	//Dash and BG Style
	.meta-style-dash-bg & {
		ul {
			gap: 6px;
		}

		li {
			padding: 0;
		}

		li::before {
			@extend .metaStyleDash;
		}

		.tag-links,
		.category-links {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
		}

		li:not(.category, .tag) {
			background: $meta_light;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 3px 10px;
			margin: 0;
			@include transition_default();
			@extend .primaryColor;

			&:before {
				@extend .primaryColor;
			}

			a {
				@extend .primaryColor;
			}

			a:hover {
				color: $title_color;
			}
		}

		li:is(.category, .tag) {
			.sp {
				display: none;
			}

			a {
				display: inline-block;
				height: 100%;
				padding: 5.5px 10px;
				line-height: 1.2;
				position: relative;
				background-color: $meta_light;
				@extend .primaryColor;

				&:hover {
					@extend .primaryBG;
					@extend .whiteColor;
				}

				&::before {
					@extend .metaStyleDash;
					//content: "---";
					//letter-spacing: -3.8px;
					//transform: scaleY(-8);
					//margin-right: 7px;
				}
			}

			&::before {
				content: none;
			}
		}


	}
}


.widget .newsfit-post-meta {
	margin-bottom: 6px;
}
