.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;

	li {
		i {
			font-size: 15px;
		}
		&:first-child {
			i {
				transform: rotate(-180deg);
			}
		}
		&.active {
			a {
				background-color: $rating_color;
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		width: 50px;
		font-size: 18px;
		font-weight: 600;
		color: $title_color;
		background-color: $gray10;
		border-radius: 50%;
		&:hover {
			background-color: $rating_color;
		}
	}
}
