/*Post Block
===================================*/

.newsfit-post-card {

	margin-bottom: 30px;

	.article-inner-wrapper {
		position: relative;
	}


	//Post Title
	.entry-title {
		@include font_size(24px, 1.5);
		font-weight: 600;
		margin-bottom: 8px;

		a {
			color: $title_color;

			&:hover {
				@extend .primaryColor;
				text-decoration: underline;
			}
		}
	}

	.entry-content {
		margin-bottom: 20px;
	}

	.read-more {
		@extend .btn, .btn-light;
		padding: 11px 14px;
		position: relative;

		&:hover {
			background: $primary_color;
			color: $white_color;
		}
	}

	&.meta-style-dash .read-more::before {
		@extend .metaStyleDash;
		color: $white_color;
	}

}

//Post Thumbnail
.post-thumbnail-wrap {
	position: relative;
	margin-bottom: 20px;

	.post-thumbnail {
		margin-bottom: 0;
	}

	.post-thumb-link {
		position: relative;
		padding-top: 68%;
		display: block;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}


//List and 1st Big Style
//.blog-big-first-style .newsfit-post-card:not(:first-child),

.widget .newsfit-post-card .entry-title {
	@include font-size(20px, 26px);
	margin-bottom: 6px;
}

.blog-list-style .newsfit-post-card {
	margin-bottom: 15px;
	.article-inner-wrapper {
		display: flex;
		gap: 15px;
	}

	.post-thumbnail {
		flex: 0 0 90px;
		max-width: 90px;
		height: 90px;

		a, img {
			width: 100%;
			height: 100%;
			padding: 0;
			object-fit: cover;
		}
	}

	p {
		margin: 0;
	}
}


.blog-big-first-style.style2 .newsfit-post-card {
	&:first-child {
		.post-thumbnail {
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 50%;
				background: rgb(0, 0, 0);
				background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 0%, rgb(0 0 0 / 67%) 20%, rgba(0, 0, 0, 0) 100%);
				@include transition_default(height)
			}
		}

		&:hover .post-thumbnail::after {
			height: 100%;
		}

		.entry-wrapper {
			position: absolute;
			width: 100%;
			bottom: 0;
			text-align: center;
			padding: 15px;
			@extend .whiteColor;
		}

		.entry-header {
			@include transition_default();
		}

		.entry-content {
			margin-bottom: 0;
			max-height: 0;
			overflow: hidden;
			@include transition_default();
		}

		&:hover .entry-content {
			max-height: 54px;
		}

		.entry-title a {
			@extend .whiteColor;
		}

		.newsfit-post-meta ul {
			justify-content: center;
		}
	}

	&:not(:first-child) {
		.post-thumbnail {
			display: none;
		}
	}

	&:not(:first-child, :last-child) {
		border-bottom: 1px solid $gray20;
		padding-bottom: 14px;
		margin-bottom: 26px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
