.comments-area {
	margin-top: 50px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

	.comment-list-wrapper {
		margin-top: 40px;
		background: #FBFBFB;
		padding: 55px;
	}

	h2.comments-title {
		font-size: 25px;
		margin-bottom: 20px;
	}

	dd {
		margin-bottom: 15px;
	}

	.comments-content ul,
	.comments-content ol {
		padding-left: 15px;
	}

	.comment-content ul,
	.comment-content ol {
		padding-left: 15px;
	}
}


.comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comment-meta a {
	color: #333;
}

.comment-author {
	display: flex;
	gap: 12px;
	align-items: flex-start;
	margin-bottom: 10px;

	.vcard {
		flex: 0 0 45px;
	}

	.vcard img {
		border-radius: 50%;
	}

	.author-info {
		margin-top: -4px;
		flex: auto;
	}

	.author-info cite {
		font-style: normal;
	}

	.author-info cite a {
		font-size: 18px;
		font-weight: bold;
		color: $title_color;
	}

	.comment-meta a {
		color: $meta_color;
	}
}

.comment-metadata {
	margin-left: 50px;
}


.comment-reply-link {
	padding: 0 10px;
	height: 35px;
	color: $title_color;
	border: 1px solid $gray40;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;

	svg {
		fill: $title_color;
	}

	&:hover {
		background: $primary_color;
		border-color: $primary_color;
		color: $white_color;

		svg {
			fill: $white_color;
		}
	}
}

.comment-list {

	li {
		font-size: 16px;
		position: relative;
		color: $title_color;
	}

	.comment-body:not(.last-item) {
		margin-bottom: 30px;
		border-bottom: 1px solid $gray20;
		padding-bottom: 30px;
	}

	> li ol,
	> li ul {
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		.comment-body {
			margin-bottom: 20px;
		}
	}

	li ol.children {
		padding-left: 50px;
		margin: 0;
		list-style: none;
		margin-top: 25px;
	}

	li ol.children ol.children {
		padding-left: 20px;
	}

	li.comment:last-child {
		border-bottom: 0px solid;
		padding-bottom: 0;
		margin-bottom: 0;
	}

}

.comment-respond {
	margin-top: 0;
	background: #f3f3f3;
	padding: 40px 55px;
}

.comment-form {
	label {
		display: block;
		margin-bottom: 10px;
		font-size: 15px;
		font-weight: bold;
	}

	input,
	textarea {
		width: 100%;
		padding: 8px 15px;
	}

	textarea {
		padding: 15px;
		resize: vertical;
	}

	input[type=submit] {
		width: auto;
		background: $primary_color;
		padding: 12px 30px;
		border-radius: 0;
		border: 1px solid $primary_color;
		cursor: pointer;
		font-size: $base_fs - 1;
		font-weight: 500;
		@include transition_default();

		&:hover {
			background: $primary_dark_color;
		}
	}

	.form-submit {
		margin-bottom: 0;
	}

	.required {
		color: #FF0000;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		display: flex;
		align-items: center;

		label {
			flex: 0 0 100px;
			margin: 0;
		}

		input {
			flex: 1;
		}
	}
}

.comment-notes {
	font-size: 90%;
	margin-bottom: 30px;
}

p.comment-form-cookies-consent {
	display: flex;
	margin-bottom: 30px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;

	input {
		width: auto;
	}

	* {
		margin: 0;
	}
}

.comment-navigation {
	margin-top: 26px;
	border-top: 1px solid $gray20;
	padding-top: 30px;

	.nav-links {
		display: flex;
		justify-content: space-between;

		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			gap: 5px;
			color: $title_color;
			border: 1px solid $gray40;
			padding: 6px 15px;

			&:hover {
				background: $primary_color;
				border-color: $primary_color;
				color: $white_color;

				svg {
					fill: $white_color
				}
			}
		}
	}
}
