/* Site Footer
***************************/
.site-footer {
	position: relative;
	background: $gray10;

	.footer-container {
		position: relative;
	}
}

@import 'parts/_footer-nav';
@import 'parts/_footer-widgets';
@import "parts/_footer-copyright";

//Footer layout
@import "parts/_footer-2";
