/* Site Footer
***************************/
.site-footer {
	position: relative;
	background: $gray10;

	.footer-container {
		position: relative;
	}
}

.footer-sidebar {
	ul {
		li {
			padding-bottom: 8px;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
}

@import 'parts/_footer-nav';
@import 'parts/_footer-widgets';
@import "parts/_footer-copyright";

//Footer layout
@import "parts/_footer-1";
@import "parts/_footer-2";
@import "parts/_footer-3";
@import "parts/_footer-4";
