.quixa-widget-area {
	position: relative;
	padding-left: 30px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		> li {
			position: relative;
			margin-bottom: 5px;
			font-size: 16px;
			&:last-child {
				margin-bottom: 0;
			}
			> a {
				position: relative;
				border: 1px solid $border_color;
				border-radius: 6px;
				padding: 12px 15px;
				display: block;

			}
		}
		&.sub-menu {
			margin-top: 5px;
		}
	}
	.widget-title, .wp-block-heading {
		font-size: 22px;
	}

	.rt-sidebar {
		width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
		background: $white_color;
	}

	.wp-block-categories, .wp-block-archives {

			li {
				border: 1px solid $border_color;
				border-radius: 6px;
				padding: 12px 15px;
				width: 100%;
				float: left;
				text-align: right;
				a {
					float: left;
					border: none;
					padding: 0;
					&:before {
						position: absolute;
						content: '';
						left: 0;
						top: 12px;
						width: 5px;
						height: 5px;
						opacity: 0;
						visibility: hidden;
						border-radius: 50%;
						background-color: $primary_color;
						transition: all .21s ease-in-out;
					}
					&:hover {
						padding-left: 12px;
						&:before {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}

	}

	.wp-block-tag-cloud {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		a {
			color: $title_color;
			background: $gray10;
			border-radius: 6px;
			display: inline-block;
			font-size: 16px!important;
			margin: 0;
			padding: 8px 18px;
			line-height: 1.4;
			&:hover {
				background-color: $rating_color;
			}
		}
	}
	.rt-blog-post {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		.post-thumbnail img {
			border-radius: 6px;
		}
		ul {
			li {
				font-size: 15px;
				border: none;
				margin: 0;
				padding: 0;
			}
		}
		.quixa-post-meta {
			padding-top: 20px;
		}
		.entry-title {
			font-size: 18px;
			margin-bottom: 0;
			line-height: 1.4;
		}
		.entry-content {
			padding-top: 12px;
		}
		.post-thumbnail-wrap .posted-on {
			display: none;
		}
	}
	.blog-list-style {
		.quixa-post-meta {
			padding-top: 0;
		}
		.article-inner-wrapper {
			display: flex;
			align-items: center;
			column-gap: 15px;
		}
		.post-thumbnail-wrap {
			width: 150px;
		}
	}
}
