button {
	@include transition_default();
	cursor: pointer;
}

.btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 6px;
	letter-spacing: 0.13px;
	padding: ($base_fs - 2) ($base_fs + 6);
	@include font_size($base_fs - 1, $base_fs - 1);
	@include transition_default();

	&:active {
		box-shadow: none;
	}

	&:focus {
		outline: none;
	}

	&.btn-xl {
		$xl_size: $base_fs + 8;
		padding: ($base_fs+8) ($base_fs + 16);
		@include font_size($xl_size, $xl_size);
	}

	&.btn-lg {
		$lg_size: $base_fs + 2;
		padding: ($base_fs + 2) ($base_fs + 8);
		@include font_size($lg_size, $lg_size);
	}


	&.btn-sm {
		$lg_size: $base_fs - 3;
		padding: ($base_fs - 4) ($base_fs + 4);
		@include font_size($lg_size, $lg_size);
	}

	&.btn-xs {
		$lg_size: $base_fs - 6;
		padding: ($base_fs - 5) ($base_fs + 2);
		@include font_size($lg_size, $lg_size);
	}

}

//Button style
.btn-primary {
	@include button_style($white_color, $primary_color, $rating_color);
}

.btn-secondary {
	@include button_style($white_color, $secondary_color, rgba($secondary_rgb, 0.8));
}

.btn-light {
	@include button_style($white_color, $meta_color, $primary_color);
}

.btn-gray {
	@include button_style($white_color, $meta_color, $primary_color);
}

// button 1
.button-1 {
	background-color: $primary_color;
	color: $white_color;
	&:hover {
		background-color: $rating_color;
		color: $title_color;
	}
}
// button 2
.quixa-button .button-2 {
	color: $white_color;
	background-color: $primary_color;
	padding: 18px 30px;
	.btn-wrap {
		display: inline-block;
		overflow: hidden;
		position: relative;
		z-index: 1;
		float: left;
	}
	.btn-text1 {
		display: block;
		position: relative;
		transition: all 0.4s ease-in-out;
	}
	.btn-text2 {
		position: absolute;
		top: 100%;
		display: block;
		transition: all 0.4s ease-in-out;
	}
	i {
		font-size: 14px;
		width: 26px;
		display: inline-block;
	}
	&:hover {
		color: $white_color;
		.btn-wrap {
			.btn-text1 {
				transform: translateY(-150%);
			}
			.btn-text2 {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
// button 3
.quixa-button .button-3 {
	color: $title_color;
	background-color: $rating_color;
	box-shadow: 4px 7px 0px 0px rgba(0, 0, 0, 0.2);
	border: 2px solid $title_color;
	border-radius: 100px;
	padding: 18px 30px;
	.btn-wrap {
		display: inline-block;
		overflow: hidden;
		position: relative;
		z-index: 1;
		float: left;
	}
	.btn-text1 {
		display: block;
		position: relative;
		transition: all 0.4s ease-in-out;
	}
	.btn-text2 {
		position: absolute;
		top: 100%;
		display: block;
		transition: all 0.4s ease-in-out;
	}
	i {
		font-size: 14px;
		width: 26px;
		display: inline-block;
	}
	&:hover {
		color: $title_color;
		.btn-wrap {
			.btn-text1 {
				transform: translateY(-150%);
			}
			.btn-text2 {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

// button 4
.quixa-button .button-4 {
	color: $white_color;
	background-color: $gray20;
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.7);
	padding: 18px 30px;
	.btn-wrap {
		display: inline-block;
		overflow: hidden;
		position: relative;
		z-index: 1;
		float: left;
	}
	.btn-text1 {
		display: block;
		position: relative;
		transition: all 0.4s ease-in-out;
	}
	.btn-text2 {
		position: absolute;
		top: 100%;
		display: block;
		transition: all 0.4s ease-in-out;
	}
	i {
		font-size: 14px;
		width: 26px;
		display: inline-block;
	}
	&:hover {
		color: $white_color;
		background-color: $primary_color;
		box-shadow: unset;
		.btn-wrap {
			.btn-text1 {
				transform: translateY(-150%);
			}
			.btn-text2 {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
